<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="description" content="Layout controle">
    <meta name="author" content="Lucas Gabriel">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../../../favicon.ico">
    <title>@ViewBag.Title</title>


    @Styles.Render("~/Content/Controle")

    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"
            integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        @Html.Partial("~/Views/Shared/Partial_Views/_HeaderView.cshtml")
    </header>
    <div class="container-fluid">
        @Html.Partial("~/Views/Shared/Partial_Views/_AsideView.cshtml")
        <div class="content">
            @RenderBody()
        </div>
    </div>

    <footer></footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="Scripts/jquery-slim.min.js"><\/	script>')</script>
    @Scripts.Render("~/bundles/Controle")

</body>
</html>
